    .oneb{
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(96, 24, 242)),
      to(rgb(2, 231, 247))
    );
    background: linear-gradient(
      left top,
      left bottom,
      from(rgb(96, 24, 242)),
      to(rgb(2, 231, 247))
    );
    position: relative;
    margin:20px 15px;
    width:2000px;
    height:90px;
    }
    .seahorse{
      animation:boomerangspin 7s ease-in 1s infinite;
      animation-direction: alternate;
    }
    @keyframes boomerangspin {
      0% {
        transform: translate(0, 0) scale(0.75,0.75);    
      }
      50%{
        transform: translate(600px,0px) scale(1.75,1.75)rotate(0.5turn);    
      }
      75%{
        transform: translate(800px,-500px) scale(5,5);    
      }
      100% {
        transform: translate(1500px,-10px) rotate(0.75turn);
      }
    }  
    .seahorse1{
      animation:boomerangspin 9s ease-in 1s infinite;
      animation-direction: alternate;
    }
    @keyframes boomerangspin {
      0% {
        transform: translate(0, 0) scale(0.75,0.75);    
      }
      50%{
        transform: translate(700px,0px) scale(1.75,1.75)rotate(0.25turn);    
      }
      65%{
        transform: translate(900px,-500px) scale(5,5);    
      }
      100% {
        transform: translate(1500px,-10px) rotate(0.75turn);
      }
    }
    .jumper{
      animation:boomerangs 10s ease-in 1s infinite;
      animation-direction: alternate;
    }
    @keyframes boomerangs {
      0% {
        transform: translate(0, 0);    
      }
      25%{
        transform: translate(750px,0px) scale(1.75,1.75)rotate(0.25turn);    
      }
      65%{
        transform: translate(500px,-600px) scale(5,5);    
      }
      100% {
        transform: translate(1500px,-10px) rotate(0.75turn);
      }
    }
    
    
    
    