* {
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(96, 24, 242)),
    to(rgb(247, 239, 2))
  );
  background: linear-gradient(
    left top,
    left bottom,
    from(rgb(96, 24, 242)),
    to(rgb(247, 239, 2))
  );
  margin: 0;
  width: 369px;
  height: 812px;
}

.header {
  display: flex;
  flex-direction: row;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(96, 24, 242)),
    to(rgb(37, 185, 239))
  );

  background: linear-gradient(
    left top,
    left bottom,
    from(rgb(96, 24, 242)),
    to(rgb(37, 185, 239))
  );
  border: 3px solid black;
  border-radius: 10px;
  width: 375px;
  height: 120px;
  background-color: rgb(0, 255, 255);
  margin: 10px;
}
.logo {
  background-color: rgba(240, 255, 255, 0.6);
  margin: 7px;
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 5px black;
}
.htext {
  position: relative;
  left: 20px;
  top: 20px;
  font-size: 1.25em;
  color: rgb(240, 255, 255);
}
.row1 {
  width: 375px;
  height: 210px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.silhouettes {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 5px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction:column;
}
.silhouettes a {
  text-decoration: none;
}


.button1a {
  width: 40px;
  height: 20px;
  position: relative;
  left: 35px;
  top: 4px;
  border-radius: 50px;
  background-color:black;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.button1b{
    width: 90px;
    height: 20px;
    position: relative;
    left: 10px;
    top: 5px;
    border-radius: 50px;
    background-color:rgb(21, 241, 10);
    font-size: 1em;
    text-align: center;
    color: black;
    outline:none;
  }
.armholes {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 16px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.armholes a {
  text-decoration: none;
}

.button2a {
  position: absolute;
  left: 30px;
  top:4px;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color:black; 
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.sleeves {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 28px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sleeves a {
  text-decoration: none;
}
.button3a {
  position: absolute;
  left: 30px;
  top: 4px;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color:black; 
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.button4a {
  position:absolute;
  left: 30px;
  top:4px;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color:black;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.button5a {
  position:absolute;
  left: 30px;
  top: 4px;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color:black;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.button6a {
    position:absolute;
    left: 30px;
    top: 4px;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color:black;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}
.button7a {
    position:absolute;
    left: 30px;
    top: 4px;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color:black;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
  }
.button8a {
    position:absolute;
    left: 30px;
    top: 4px;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color:black;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
  }
.button9a {
    position:absolute;
    left: 30px;
    top: 4px;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color:black;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
  }
.icon1 {
  width: 90px;
  height: 135px;
  position: absolute;
  left: 9px;
  top: 58px;
}
.icon2 {
  width: 90px;
  height: 135px;
  position: absolute;
  left: 9px;
  top:58px;
}
.icon3 {
  width: 90px;
  height:135;
  position: absolute;
  left: 9px;
  top:58px;
}

.row2 {
  width: 375px;
  height: 210px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.measurements {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 5px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.measurements a {
  text-decoration: none;
}

.choices {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 16px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.choices a {
  text-decoration: none;
}

.sleeves2 {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 28px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sleeves2 a {
  text-decoration: none;
}
.icon4 {
  width: 90px;
  height: 135px;
  position: relative;
  left: 7px;
  top: 22px;
}
.icon5 {
  width: 90px;
  height: 135px;
  position: relative;
  left: 7px;
  top: 22px;
}
.icon6 {
  width: 90px;
  height: 135px;
  position: relative;
  left: 7px;
  top: 22px;
}
.icon7 {
  width: 90px;
  height: 135px;
  position: relative;
  left: 7px;
  top: 22px;
}
.icon8 {
  width: 90px;
  height: 135px;
  position: relative;
  left: 7px;
  top: 22px;
}
.icon9 {
  width: 90px;
  height: 135px;
  position: relative;
  left: 7px;
  top: 22px;
}

.row3 {
  width: 375px;
  height: 210px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.necklines {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 28px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.necklines a {
  text-decoration: none;
}

.neckedges {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 16px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.neckedges a {
  text-decoration: none;
}
.ne-ribbing {
  width: 115px;
  height: 210px;
  position: relative;
  top: 15px;
  left: 5px;
  border: 3px solid rgb(65, 126, 3);
  background-color: rgb(247, 239, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ne-ribbing a {
  text-decoration: none;
}
